# Python / Django 관련 설정
venv/
*.pyc
__pycache__/
db.sqlite3
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS 관련 임시 파일
.DS_Store
Thumbs.db