{% load static %}

<nav class="bottom-navbar">
    <!-- 홈 버튼 (활성화 상태) -->
    <a href="#" class="nav-item active">
        <img src="{% static 'images/ic_home.svg' %}" alt="홈" class="nav-icon">
        <span class="nav-label">홈</span>
    </a>

    <!-- 완주 랭킹 버튼 -->
    <a href="#" class="nav-item">
        <img src="{% static 'images/ic_rank.svg' %}" alt="완주 랭킹" class="nav-icon">
        <span class="nav-label">완주 랭킹</span>
    </a>


    <!-- 릴레이 인증 버튼 -->
    <a href="#" class="nav-item">
        <img src="{% static 'images/ic_relay.svg' %}" alt="릴레이 인증" class="nav-icon">
        <span class="nav-label">릴레이 인증</span>
    </a>

    <!-- 마이페이지 버튼 -->
    <a href="#" class="nav-item">
        <img src="{% static 'images/ic_mypage.svg' %}" alt="마이페이지" class="nav-icon">
        <span class="nav-label">마이페이지</span>
    </a>

</nav>

